body {
    font-family: 'Arial', sans-serif;
    background-image: url('../assets/stock-bg.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    color: #fff;
  }
  